<div class="task-form">
  <h2>{{ taskId ? "Editar Tarefa" : "Nova Tarefa" }}</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>
      Título:
      <input formControlName="titulo" />
    </label>

    <label>
      Descrição:
      <textarea formControlName="descricao"></textarea>
    </label>

    <label class="checkbox-label">
      <input type="checkbox" formControlName="completado" />
      Concluído
    </label>

    <button class="btn" type="submit" [disabled]="form.invalid">
      {{ taskId ? "Atualizar" : "Criar" }}
    </button>
  </form>

  <a routerLink="/tasks" class="btn-link">Voltar</a>
</div>
